.paper {
    position: relative;
    width: 160px;
    height: 160px;

    border-radius: 50%;

    background: radial-gradient(at top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: 0 10px hsl(230, 70%, 50%);
    
    cursor: pointer;
    transition: ease 200ms;
}

.paper::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 50%;
    
    background: white;
    box-shadow: inset 0 10px rgba(0 0 0 / 0.1);
    
    z-index: 0;
}

.paper svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.paper:is(:active, :focus) {
    box-shadow: 0 0 hsl(230, 70%, 50%);
    transform: translateY(10px);
}

