.rock-paper-scissors {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale();
}

.triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -34%) scale(.8);
}